# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# Cordova
/platforms
/plugins

# res
resources/signing

# Generated JS files
www/debugHelpers.js
www/debugHelpers.js.map
www/index.js
www/index.js.map