<?xml version='1.0' encoding='utf-8'?>
<widget id="se.ju.larpet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>phonegap-react-tempte</name>
	<description>
		A template for building a PhoneGap app using React.
	</description>
	<author email="Peter.Larsson-Green@ju.se">
		Peter Larsson-Green
	</author>
	<content src="index.html" />
	<access origin="*" />
</widget>
