<?xml version='1.0' encoding='utf-8'?>
<widget id="se.ju.larpet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Doggy Dog Style App</name>
	<description>
		This is the Doggy Dog Style App
	</description>
	<author email="hugo.prenat@epitech.eu">
		Hugo Prenat
	</author>
	<content src="index.html" />
	<access origin="*" />
</widget>
