.obstacleItem {
    background-image: url('../img/events/obstaclePrev.jpeg');
    background-repeat: no-repeat;
    background-position-y: -10px;
    background-size: cover;
    height: 180px;
}

.pageantItem {
    background-image: url('../img/events/pageant.jpg');
    background-repeat: no-repeat;
    background-position-y: -10px;
    background-size: cover;
    height: 180px;
}

.auctionItem {
    background-image: url('../img/events/obstaclePrev.jpeg');
    background-repeat: no-repeat;
    background-position-y: -10px;
    background-size: cover;
    height: 180px;
}



.eventArticle {
    filter: opacity(50%);
}
