.active {
    color: green;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(to top, rgba(236, 236, 236, 1), rgba(236, 236, 236, 0.5));
    /*  background: #EEEEEE;*/
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header div {
    height: 100%;
    background-color: #3498DB;
}

.dogLogo {
    width: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#content {
    position: fixed;
    top: 82px;
    bottom: 62px;
    left: 0;
    right: 0;
    background-color: #D1D5D8;
    overflow: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.footer-list {
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
}

.footer-list li {
    list-style-type: none;
    display: table-cell;
    width: 25%;
    height: 100%;
    vertical-align: bottom;
}

.footer-list button {
    color: #ffffff;
    height: 80%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footer-list button.selected {
    height: 100%;
}

.footer-list #Events {
    background-color: #3498DB;
}

.footer-list #MyPage {
    background-color: #E74C3C;
}

.footer-list #Map {
    background-color: #1ABC9C;
}

.footer-list #News {
    background-color: #F1C40F;
}

.box {
    width: 70%;
    height: 50px;
    background: #FFF;
    margin: 40px auto;
}

.box-effect {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.box-effect:before,
.box-effect:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.box-effect:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.contacts {
    height: 80%;
}
