.smallArticle {
  background: #554466;
  border-bottom: 1px solid yellow;
}

.smallArticle img {
  height: 60%;
  display: block;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 10px;
  margin-right: auto;
  background-position: center center;
  text-align: center;
}

.smallArticle .col-xs-8 {
  padding-right: 0;
}
