.smallArticle {
  background: #554466;
  border-bottom: 1px solid yellow;
}

.smallArticle img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallArticle .col-xs-8 {
  padding-right: 0;
}
